@datasci_course_materials/

.ipynb_checkpoints/

ml-challenge-linx/input/
lyric-classifier/input/lyrics.zip

lyric-classifier/input/dataset3.csv
lyric-classifier/docs/Projeto Processo Seletivo - Cientista de Dados- Finch.pdf
*.ini
lyric-classifier/@/templates/result.html
lyric-classifier/@/templates/index.html
lyric-classifier/@/templates/_formhelpers.html
lyric-classifier/@/static/js/npm.js
lyric-classifier/@/static/js/bootstrap.min.js
lyric-classifier/@/static/js/bootstrap.js
lyric-classifier/@/static/fonts/glyphicons-halflings-regular.woff2
lyric-classifier/@/static/fonts/glyphicons-halflings-regular.woff
lyric-classifier/@/static/fonts/glyphicons-halflings-regular.ttf
lyric-classifier/@/static/fonts/glyphicons-halflings-regular.svg
lyric-classifier/@/static/fonts/glyphicons-halflings-regular.eot
lyric-classifier/@/static/doc/TesteMachineLearning.pdf
lyric-classifier/@/static/css/sticky-footer.css
lyric-classifier/@/static/css/bootstrap.min.css.map
lyric-classifier/@/static/css/bootstrap.min.css
lyric-classifier/@/static/css/bootstrap.css.map
lyric-classifier/@/static/css/bootstrap.css
lyric-classifier/@/static/css/bootstrap-theme.min.css.map
lyric-classifier/@/static/css/bootstrap-theme.min.css
lyric-classifier/@/static/css/bootstrap-theme.css.map
lyric-classifier/@/static/css/bootstrap-theme.css
lyric-classifier/@/resources/vectorizer.pkl
lyric-classifier/@/resources/stopwords.txt
lyric-classifier/@/resources/classifier.pkl
lyric-classifier/@/requirements.txt
lyric-classifier/@/README.txt
lyric-classifier/@/Procfile
lyric-classifier/@/notebooks/webapp.ipynb
lyric-classifier/@/notebooks/model.ipynb
lyric-classifier/@/notebooks/analysis.ipynb
lyric-classifier/@/notebooks/.ipynb_checkpoints/webapp-checkpoint.ipynb
lyric-classifier/@/notebooks/.ipynb_checkpoints/model-checkpoint.ipynb
lyric-classifier/@/notebooks/.ipynb_checkpoints/analysis-checkpoint.ipynb
lyric-classifier/@/nltk.txt
lyric-classifier/@/lyric-classifier.zip
lyric-classifier/@/input/y_train.dat
lyric-classifier/@/input/y_test.dat
lyric-classifier/@/input/X_train.dat
lyric-classifier/@/input/X_test.dat
lyric-classifier/@/input/lyrics/sertanejo.csv
lyric-classifier/@/input/lyrics/gospel.csv
lyric-classifier/@/input/lyrics/funk.csv
lyric-classifier/@/input/lyrics/bossa_nova.csv
lyric-classifier/@/input/lyrics.zip
lyric-classifier/@/input/dataset3.csv
lyric-classifier/@/input/dataset.csv
lyric-classifier/@/app.py
lyric-classifier/@/.ipynb_checkpoints/webapp-checkpoint.ipynb
lyric-classifier/@/.ipynb_checkpoints/model2-checkpoint.ipynb
lyric-classifier/@/.ipynb_checkpoints/model-checkpoint.ipynb
lyric-classifier/@/.ipynb_checkpoints/analysis-checkpoint.ipynb
