<!doctype html>
<html>
	<head>
		<title>Classifica&ccedil;&atilde;o de G&ecirc;nero Musical</title>

		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
		<link rel="stylesheet" href="{{ url_for('static', filename='css/sticky-footer.css') }}" >
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</head>
	<body>
		<div class="container">
			<div class="page-header">
				<h1>Lyric Classifier</h1>
			</div>
			<p class="lead">Classificador autom&aacute;tico de g&ecirc;nero musical, distinguindo composi&ccedil;&otilde;es entre Bossa Nova, Funk, Gospel e Sertanejo.</p>
			<p>
				{% from "_formhelpers.html" import render_field %}
				<form method=post action="/result">
					<div class="form-group">
						<label for="exampleTextarea">Insira a letra da m&uacute;sica:</label>
						<dl>
						{{ render_field(form.musiclyric, cols='30', rows='10', class='form-control') }}
						</dl>
					</div>
					<button type="submit" name='submit_btn' class="btn btn-lg btn-primary btn-block">Classificar</button>
				</form>

			</p>
		</div>

		<footer class="footer">
			<div class="container">
				<p class="text-muted">&copy; Diego Cavalca</p>
			</div>
		</footer>
	</body>

</html>